<div class="green-block">
    <div class="container">
        <div class="row">
            <h1 class="span12"><%= @user.name %></h1>

            <% flash.each do |key, value| %>
                <div class="span12 alert alert-<%= key %>"><%= value %></div>
            <% end %> 

            <br>&nbsp;<br>

            <div class="span5 signup-box">

                <p>
                  <b>Name:</b>
                  <%= @user.name %>
                </p>

                <p>
                  <b>Email:</b>
                  <%= @user.email %>
                </p>

                <% if current_user?(@user) %>
                    <%= link_to 'Edit', edit_user_path(@user) %> |
                <% end %>
                <%= link_to 'Back', users_path %>
            </div>

            <% if @feed_projects.any? %>
                <div class="span6 pull-right project-feed-list">
                    <h3>All Projects:</h3>
                    <ul>
                        <%= render partial: 'shared/feed_item', collection: @feed_projects %>
                    </ul>
                </div>
            <% end %>

        </div>
    </div>
</div>
